a {
  text-decoration: none !important;
}
#backgr {
  max-width: 9000px;
  margin: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    asset-url("home-backgr.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home-logo {
  height: 100vh;
  font-weight: 100;
}

.center-div {
}

.mikeauerbachhome {
  margin: 0;
  padding: 0 !important;
  width: auto;
  max-width: 9000px;
  white-space: nowrap;
  font-size: 5rem;
  font-family: $logo-font;
  color: $light-grey;
  transition: all 0.5s ease;
  &:hover {
    font-size: 6rem;
  }
}

mikeauerbachhome__oben {
}

.mikeauerbachhome__unten {
  letter-spacing: -2.7px;
  margin-top: -26px;
}

@media only screen and (max-width: 700px) {
  .mikeauerbachhome {
    font-size: 4.5rem;
    &:hover {
      font-size: 5rem;
    }
  }
}

.alert-wip {
  font-size: 2.5rem;
  padding: 1rem;
  margin-bottom: 20vh;
  color: red;
}
