.imprint {
  text-align: left;
  color: $link-grey;
}
.main-header {
  font-size: 3rem;
}
.main-header,
.personal-information,
.legal,
.disclaimer {
  margin: 2rem;
}
.legal {
  margin-top: 4rem;
  color: $darker-grey;
  font-size: small;
}
