<%# html for desktop (toggled with toggle-mobile-menu.js) %>
<% name = @shooting.who_or_what %>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= cl_image_tag @shooting.photos[0].key, class: "d-block", id: 'carou-image', alt: "First slide, photo of #{name}" %>
    </div>
    <% @shooting.photos[1..-1].each_with_index do |photo, index|%>
      <div class="carousel-item">
        <%= cl_image_tag photo.key, class: "d-block", id: 'carou-image', alt: "photo of #{name}" %>
      </div>
    <% end %>
  </div>
<div class="controls"></div>
  <a id="left"class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <i class="fas fa-chevron-left"></i>
  </a>
  <a id="right"class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <i class="fas fa-chevron-right"></i>
  </a>
</div>

<%# html for mobile %>
<% @shooting.photos[0..-1].each do |photo|%>
  <%= cl_image_tag photo.key, class: "mobile-img-show hide", alt: "photo of #{name}"%>
<% end %>
