<%# <h3>Work in progress, sample images from unsplash.</h3> %>
  <div class="car row ">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner " >
        <div class="carousel-item active ">
          <%= cl_image_tag @shooting.photos[0].key%>
        </div>
        <% @shooting.photos.each do |photo|%>
          <div class="carousel-item item">
            <%= cl_image_tag photo.key, {class: "h-70"}%>
          </div>
        <% end %>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>