<%#= cl_image_tag @shooting.photos[0].key, {class: "d-block "}%>
<%# @shooting.photos[1..-1].each_with_index do |photo, index|%>
  <%#= cl_image_tag photo.key, {class: "d-block"}%>

<%#= cl_image_tag @shooting.photos[0].key, {class: "d-block "}%>
<%# @shooting.photos[1..-1].each_with_index do |photo, index|%>
  <%#= cl_image_tag photo.key, {class: "d-block"}%>


<div class="my-carousel-wrapper">

    <div class="my-carousel">
      <div class="my-carousel-item">
        <%= cl_image_tag @shooting.photos[0].key, class: "my-carousel-image initial"%>
      </div>

      <% @shooting.photos[1..-1].each_with_index do |photo, i|%>
        <div class="my-carousel-item">
          <%# i = i.to_i + 1%>
          <%= cl_image_tag photo.key, class: "my-carousel-image"%>
          <!-- , id: "carou-image-#{i}" .... will produce: <img data-img-id="123"> -->
        </div>
      <% end %>
    </div>

  <div id="my-carousel-controls" >
    <div class="my-carousel-button-next">
      <i class="fas fa-chevron-right"></i>
    </div>
    <div class="my-carousel-button-prev">
      <i class="fas fa-chevron-left"></i>
    </div>
  </div>

</div>

