<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= cl_image_tag 'ph-web/IMG_6138_polarr_rxfcpg', class: "d-block w-100", alt: "First slide" %>
    </div>
    <div class="carousel-item">
      <%= cl_image_tag 'ph-web/IMG_3564_llcmqu', class: "d-block w-100", alt: "Second slide" %>
    </div>
    <div class="carousel-item">
      <%= cl_image_tag 'ph-web/ppetmpdup_2_dh2ybu', class: "d-block w-100", alt: "Third slide" %>
    </div>
  </div>
</div>
