<div class="footer">
  <div class="footer-links hoverable">
    <div class="contacts">
      <%= mail_to "photography@mike-auerbach.com" do %>
      <i class="far fa-envelope"></i>
      <% end %>
      <%= link_to "tel:+491723056408" do%>
      <i class="fa fa-phone-alt"></i>
      <% end %>
    </div>
    <%= link_to 'Imprint', imprint_path%>
    <%= link_to 'Datenschutzerklärung', imprint_path(anchor: 'datenschutz')%>
    <a href="https://www.instagram.com/mike_auerbach/?hl=de" target="_blank"><i class="fab fa-instagram"></i> Instagram</a>
  </div>
</div>
