<div class="footer">
  <div class="footer-links hoverable">
    <a href="#">contact</a>
    <a href="#">impressum</a>
    <a href="https://www.instagram.com/mike_auerbach/?hl=de" target="_blank"><i class="fab fa-instagram"></i>instagram</a>
  </div>
  <div id="login-logout">
    <% if user_signed_in? %>
        <%= link_to "Admin Area", rails_admin_path%>
        <%= link_to "Admin Logout", destroy_user_session_path, method: :delete%>
    <% else %>
        <%= link_to "Admin Login", new_user_session_path%>
    <% end %>
  </div>
</div>
