<div class="footer">
  <div class="footer-links">
    <a href="#">contact</a>
    <a href="#">impressum</a>
    <a href="https://www.instagram.com/mike_auerbach/?hl=de" target="_blank"><i class="fab fa-instagram"></i>instagram</a>
  </div>
</div>
