<div class="footer">
  <div class="footer-links hoverable">
    <%= mail_to "photography@mike-auerbach.com", "Contact me" %>
    <%= link_to 'Imprint', imprint_path%>
    <a href="https://www.instagram.com/mike_auerbach/?hl=de" target="_blank"><i class="fab fa-instagram"></i> Instagram</a>
  </div>
</div>
