<header class='my-header'>

  <%= link_to root_path, class: "my-header__logo" do %>
    <p class="logo__oben">PHOTOGRAPHY</p>
    <br>
    <p class="logo__unten">MIKE AUERBACH</p>
  <%end%>

  <div class='my-header__nav'>
    <button class="nav-toggle" type="button" aria-label="Toggle navigation">
      <span class="hamburger"></span>
    </button>

    <nav class="my-nav">
      <ul class="my-nav__list">
          <li class="my-nav__item">
            <%= link_to 'Home', categories_path, class: "my-nav__link" %>
          </li>
        <% Category.all.each do |category|%>
          <li class="my-nav__item">
            <%= link_to category.name, category_path(category), class: "my-nav__link" %>
          </li>
        <% end %>
      </ul>
    </nav>

  </div>

</header>
