<nav id='my-nav'>

  <div id="left" class="hoverable name">
    <%= link_to categories_path, class: "navbar-brand header-name" do %>
      <p class="oben">PHOTOGRAPHY</p>
      <br>
      <p class="unten">MIKE AUERBACH </p>
    <%end%>
  </div>

  <div id="right" class='link-div'>
    <div class="navbar navbar-expand-lg navbar-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
              <%= link_to 'Home', categories_path, class: "nav-link" %>
            </li>
          <% Category.all.each do |category|%>
            <li class="nav-item">
              <%= link_to category.name, category_path(category), class: "nav-link dropdown-menu-right" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

</nav>
<!--  <div class="link-div">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto hoverable">
          <li class="navbar-link">
            <%#= link_to "Home", root_path, class: "nav-link dropdown-menu-right" %>
            <%#= link_to "Home", categories_path, class: "nav-link dropdown-menu-right" %>
          </li>
          <li class="navbar-link">
            <%#= link_to "People", this_category_path, class: "nav-link" %> -->
