<header class='my-header'>

  <%= link_to root_path, class: "my-header__logo" do %>
    <p class="logo__oben">PHOTOGRAPHY</p>
    <br>
    <p class="logo__unten">MIKE AUERBACH</p>
  <%end%>

  <div class='my-header__nav'>
    <button class="nav-toggle" type="button" aria-label="toggle navigation">
      <span class="hamburger"></span>
    </button>

    <nav class="my-nav" >
      <ul class="my-nav__list" data-show="false">
        <% sorted_categories = Category.all.sort_by {|cat| cat.order_number } %>
        <% sorted_categories.each do |category|%>
          <li class="my-nav__item">
            <%= link_to category.name.upcase!, shootings_path(:anchor => category.name), class: "my-nav__link"  %>
          </li>
        <% end %>
        <li>
          <div class="my-nav__contacts">
            <%= mail_to "photography@mike-auerbach.com", class: "my-nav__contact"  do %>
            <i class="far fa-envelope"></i>
            <% end %>
            <%= link_to "tel:+491723056408", class: "my-nav__contact" do%>
            <i class="fa fa-phone-alt"></i>
            <% end %>
          </div>
        </li>
      </ul>
    </nav>

  </div>

</header>
