<div class="imprint">
  <h1 class='main-header'>Imprint</h1>

  <div class="personal-information">
    <h2>MIKE AUERBACH PHOTOGRAPHY</h2>
    <p>
    Berlin <br>

    Seumestraße 3<br>

    10245 Berlin/ Germany<br>

    Telefon: +491723056408<br>

    E-Mail: photography@mike-auerbach.com<br>

    Steuernummer: 14/213/50030<br>

    Ust.-ID.: DE19166737
    </p>
  </div>
  <div class="disclaimer">
    <p>
    Disclaimer:<br>

    Copyright of all images on this site by Mike Auerbach.<br>

    No usage without prior written agreement.<br>

    Responsible for the content of this site is Mike Auerbach.
    </p>
  </div>
  <div class="legal">
    <h3 class='Impressum-header'>Haftung für Inhalte:</h3>
    <br>
    Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.<br>
    <br>
    <h3 class='Impressum-header'>Urheberrecht:</h3>
    <br>
    Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet. Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.<br>
    <br><br>
    <h3 id="datenschutz" class='Impressum-header'>Datenschutzerklärung:</h3>
    <br>
    Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener Daten möglich. Soweit auf unseren Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder eMail-Adressen) erhoben werden, erfolgt dies, soweit möglich, stets auf freiwilliger Basis. Diese Daten werden ohne Ihre ausdrückliche Zustimmung nicht an Dritte weitergegeben.<br>
    Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich.<br>
    Sie erhalten jederzeit unentgeltlich Auskunft über die von uns gespeicherten personenbezogenen Daten zu Ihrer Person sowie zur Herkunft, dem Empfänger und dem Zweck von Datenerhebung sowie Datenverarbeitung. Außerdem haben Sie das Recht, die Berichtigung, die Sperrung oder Löschung Ihrer Daten zu verlangen. Ausgenommen davon sind Daten, die aufgrund gesetzlicher Vorschriften aufbewahrt oder zur ordnungsgemäßen Geschäftsabwicklung benötigt werden. Damit eine Datensperre jederzeit realisiert werden kann, werden Daten zu Kontrollzwecken in einer Sperrdatei vorgehalten. Werden Daten nicht von einer gesetzlichen Archivierungspflicht erfasst, löschen wir Ihre Daten auf Ihren Wunsch. Greift die Archivierungspflicht, sperren wir Ihre Daten. Für alle Fragen und Anliegen zur Berichtigung, Sperrung oder Löschung von personenbezogenen Daten wenden Sie sich bitte an die im Kontakt bzw. Impressum genannte Adresse.<br>
    Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten durch Dritte zur Übersendung von nicht ausdrücklich angeforderter Werbung und Informationsmaterialien wird hiermit ausdrücklich widersprochen. Die Betreiber der Seiten behalten sich ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung von Werbeinformationen, etwa durch Spam-Mails, vor.<br>
    <br><br>
    <h3 class='Impressum-header'>Instagram Plugin</h3>
    <br>
    Wir binden auf unserer Webseite auch Funktionen des Online-Dienstes Instagram ein. Anbieter dieser Funktionen ist die Instagram Inc. Sie ist ansässig in den USA, CA 94025, 1601 Willow Road, Menlo Park. Der Instagram-Button ermöglicht Ihnen bei Besuch unserer Seiten eine Verlinkung mit Ihrem Instagram-Account, sofern Sie bei Instagram eingeloggt sind. Instagram erhält so die Informationen zu Ihrem Besuch auf unserer Webseite und kann diesen Besuch Ihrem Instagram-Profil zuweisen. Wir haben dabei weder vom Inhalt der übermittelten Informationen, noch von deren Nutzung durch Instagram Kenntnis. Sie finden weitere Informationen zur Datenerhebung und Datennutzung durch Instagram in der Instagram-Datenschutzerklärung unter http://instagram.com/about/legal/privacy/.<br>
    <br><br>
    <h3 class='Impressum-header'>Allgemeine Geschäftsbedingungen</h3>
    <br>
    I. Geltung<br>
    1. Die nachfolgenden allgemeinen Liefer- und Geschäftsbedingungen (im folgenden AGB genannt) gelten für alle vom Fotografen durchgeführten Aufträge, Angebote, Lieferungen und Leistungen.<br>
    2. Sie gelten als vereinbart mit Entgegennahme der Lieferung oder Leistung bzw. des Angebots des Fotografen durch den Kunden, spätestens jedoch mit der Annahme des Bildmaterials zur Veröffentlichung.<br>
    3. Wenn der Kunde den AGB widersprechen will, ist dieses schriftlich binnen drei Werktagen zu erklären. Abweichenden Geschäftsbedingungen des Kunden wird hiermit widersprochen. Abweichende Geschäftsbedingungen des Kunden erlangen keine Gültigkeit, es sei denn, dass der Fotograf diese schriftlich anerkennt.<br>
    4. Die AGB gelten im Rahmen einer laufenden Geschäftsbeziehung auch ohne ausdrückliche Einbeziehung auch für alle zukünftigen Aufträge, Angebote, Lieferungen und Leistungen des Fotografen, sofern nicht ausdrücklich abweichende Regelungen getroffen werden.<br>
    II. Auftragsproduktionen<br>
    1. Soweit der Fotograf Kostenvoranschläge erstellt, sind diese unverbindlich. Treten während der Produktion Kostenerhöhungen ein, sind diese erst dann vom Fotografen anzuzeigen, wenn erkennbar wird, dass hierdurch eine Überschreitung der ursprünglich veranschlagten Gesamtkosten um mehr als 15 % zu erwarten ist. Wird die vorgesehene Produktionszeit aus Gründen überschritten, die der Fotograf nicht zu vertreten hat, so ist eine zusätzliche Vergütung auf der Grundlage des vereinbarten Zeithonorars bzw. in Form einer angemessenen Erhöhung des Pauschalhonorars zu leisten.<br>
    2. Der Fotograf ist berechtigt, Leistungen von Dritten, die zur Durchführung der Produktion eingekauft werden müssen, im Namen und mit Vollmacht sowie für Rechnung des Kunden in Auftrag zu geben.<br>
    3. Vorbehaltlich einer anderweitigen Regelung werden die Aufnahmen, die dem Kunden nach Abschluss der Produktion zur Abnahme vorgelegt werden, durch den Fotografen ausgewählt.<br>
    4. Sind dem Fotografen innerhalb von zwei Wochen nach Ablieferung der Aufnahmen keine schriftlichen Mängelrügen zugegangen, gelten die Aufnahmen als vertragsgemäß und mängelfrei abgenommen.<br>
    III. Überlassenes Bildmaterial (analog und digital)<br>
    1. Die AGB gelten für jegliches dem Kunden überlassenes Bildmaterial, gleich in welcher Schaffensstufe oder in welcher technischen Form sie vorliegen. Sie gelten insbesondere auch für elektronisches oder digital übermitteltes Bildmaterial.<br>
    2. Der Kunde erkennt an, dass es sich bei dem vom Fotografen gelieferten Bildmaterial um urheberrechtlich geschützte Lichtbildwerke i.S.v. § 2 Abs.1 Ziff.5 Urheberrechtsgesetz handelt.
    3. Vom Kunden in Auftrag gegebene Gestaltungsvorschläge oder Konzeptionen sind eigenständige Leistungen, die zu vergüten sind.<br>
    4. Das überlassene Bildmaterial bleibt Eigentum des Fotografen, und zwar auch in dem Fall, dass Schadensersatz hierfür geleistet wird.<br>
    5. Der Kunde hat das Bildmaterial sorgfältig und pfleglich zu behandeln und darf es an Dritte nur zu geschäftsinternen Zwecken der Sichtung, Auswahl und technischen Verarbeitung weitergeben.<br>
    6. Reklamationen, die den Inhalt der gelieferten Sendung oder Inhalt, Qualität oder Zustand des Bildmaterials betreffen, sind innerhalb von zwei Wochen nach Empfang mitzuteilen. Anderenfalls gilt das Bildmaterial als ordnungsgemäß, vertragsgemäß und wie verzeichnet zugegangen.
    IV. Nutzungsrechte<br>
    1. Der Kunde erwirbt grundsätzlich nur ein einfaches Nutzungsrecht zur einmaligen Verwendung. Veröffentlichungen im Internet oder die Einstellung in digitale Datenbanken sind vorbehaltlich anderweitiger Vereinbarungen zeitlich begrenzt auf die Dauer der Veröffentlichungszeiträume des entsprechenden bzw. eines vergleichbaren Printobjektes.<br>
    2. Ausschließliche Nutzungsrechte, medienbezogene oder räumliche Exklusivrechte oder Sperrfristen müssen gesondert vereinbart werden. Sie bedingen einen üblichen Aufschlag auf das jeweilige Grundhonorar.<br>
    3. Mit der Lieferung wird lediglich das Nutzungsrecht übertragen für die einmalige Nutzung des Bildmaterials zu dem vom Kunden angegebenen Zweck und in der Publikation und in dem Medium oder Datenträger, welche/-s/-n der Kunde angegeben hat oder welche/-s/-r sich aus den Umständen der Auftragserteilung ergibt. Im Zweifelsfall ist maßgeblich der Nutzungszweck, für den das Bildmaterial ausweislich des/der Lieferscheins/Rechnung/Vereinbarung zur Verfügung gestellt worden ist.<br>
    4. Jede über Ziffer 3. hinausgehende Nutzung, Verwertung, Vervielfältigung, Verbreitung oder Veröffentlichung ist honorarpflichtig und bedarf der vorherigen ausdrücklichen Zustimmung des Fotografen. Das gilt insbesondere für:<br>
    -  eine Zweitverwertung oder Zweitveröffentlichung, insbesondere in Sammelbänden, produktbegleitenden Prospekten, bei Werbemaßnahmen oder bei sonstigen Nachdrucken, jegliche Bearbeitung, Änderung oder Umgestaltung des Bildmaterials,<br>
    -  die Digitalisierung, Speicherung oder Duplizierung des Bildmaterials auf Datenträgern aller Art (z.B. magnetische, optische, magnetooptische oder elektronische Trägermedien wie CD-ROM, DVD, Festplatten, Arbeitsspeicher, Mikrofilm etc.), soweit dieses nicht nur der technischen Verarbeitung und Verwaltung des Bildmaterials gem. Ziff.III 5. AGB dient,<br>
    -  jegliche Vervielfältigung oder Nutzung der Bilddaten auf digitalen Datenträgern, jegliche Aufnahme oder Wiedergabe der Bilddaten im Internet oder in Online- Datenbanken oder in anderen elektronischen Archiven (auch soweit es sich um interne elektronische Archive des Kunden handelt),<br>
    -  die Weitergabe des digitalisierten Bildmaterials im Wege der Datenfernübertragung oder auf Datenträgern, die zur öffentlichen Wiedergabe auf Bildschirmen oder zur Herstellung von Hardcopies geeignet sind.<br>
    5. Veränderungen des Bildmaterials durch Foto-Composing, Montage oder durch elektronische Hilfsmittel zur Erstellung eines neuen urheberrechtlich geschützten Werkes sind nur nach vorheriger schriftlicher Zustimmung des Fotografen und nur bei Kennzeichnung mit [M] gestattet. Auch darf das Bildmaterial nicht abgezeichnet, nachgestellt fotografiert oder anderweitig als Motiv benutzt werden.<br>
    6. Der Kunde ist nicht berechtigt, die ihm eingeräumten Nutzungsrechte ganz oder teilweise auf Dritte, auch nicht auf andere Konzern- oder Tochterunternehmen, zu übertragen. Jegliche Nutzung, Wiedergabe oder Weitergabe des Bildmaterials ist nur gestattet unter der Voraussetzung der Anbringung des vom Fotografen vorgegebenen Urhebervermerks in zweifelsfreier Zuordnung zum jeweiligen Bild.<br>
    7. Die Einräumung der Nutzungsrechte steht unter der aufschiebenden Bedingung der vollständigen Bezahlung sämtlicher Zahlungsansprüche des Fotografen aus dem jeweiligen Vertragsverhältnis.<br>
    8. Der Fotograf hat das Recht, sollte keine andere Vereinbarung bestehen, die Bilder zu seiner Eigenwerbung insbesondere in seinem Portfolio (gedruckt oder digital), auf seiner Website und branchenüblichen PR Seiten zu zeigen um für seine Arbeit zu werben.<br>
    V. Haftung<br>
    1. Der Fotograf übernimmt keine Haftung für die Verletzung von Rechten abgebildeter Personen oder Objekte, es sei denn, es wird ein entsprechend unterzeichnetes Release-Formular beigefügt. Der Erwerb von Nutzungsrechten über das fotografische Urheberrecht hinaus, z. B. für abgebildete Werke der bildenden oder angewandten Kunst sowie die Einholung von Veröffentlichungsgenehmigungen bei Sammlungen, Museen etc. obliegt dem Kunden. Der Kunde trägt die Verantwortung für die Betextung sowie die sich aus der konkreten Veröffentlichung ergebenden Sinnzusammenhänge.<br>
    2. Ab dem Zeitpunkt der ordnungsgemäßen Lieferung des Bildmaterials ist der Kunde für dessen sachgemäße Verwendung verantwortlich.<br>
    VI. Honorare<br>
    1. Es gilt das vereinbarte Honorar. Ist kein Honorar vereinbart worden, bestimmt es sich nach der jeweils aktuellen Bildhonorarübersicht der Mittelstandsgemeinschaft Foto- Marketing (MFM). Das Honorar versteht sich zuzüglich der jeweils gültigen Mehrwertsteuer.<br>
    2. Mit dem vereinbarten Honorar wird die einmalige Nutzung des Bildmaterials zu dem vereinbarten Zweck gemäß Ziff. IV. 3 abgegolten.<br>
    3. Durch den Auftrag anfallende Kosten und Auslagen (z.B. Material- und Laborkosten, Modellhonorare, Kosten für erforderliche Requisiten, Reisekosten, erforderliche Spesen etc.) sind sofern nicht im Angebot gesondert erwähnt nicht im Honorar enthalten und gehen zu Lasten des Kunden.<br>
    4. Der Honoraranspruch ist bei Ablieferung der Aufnahme fällig. Wird eine Produktion in Teilen abgeliefert, so ist das entsprechende Teilhonorar mit jeweiliger Lieferung fällig. Der Fotograf ist berechtigt, bei Produktionsaufträgen Abschlagszahlungen entsprechend dem jeweils erbrachten Leistungsumfang zu verlangen.<br>
    5. Das Honorar gemäß VI. 1. AGB ist auch dann in voller Höhe zu zahlen, wenn das in Auftrag gegebene und gelieferte Bildmaterial nicht veröffentlicht wird. Bei Verwendung der Aufnahmen als Arbeitsvorlage für Layout- und Präsentationszwecke fällt vorbehaltlich einer abweichenden Vereinbarung ein Honorar von mindestens EURO 75,00 pro Aufnahme an.<br>
    6. Eine Aufrechnung oder die Ausübung des Zurückbehaltungsrechts ist nur mit unbestrittenen oder rechtskräftig festgestellten Forderungen des Kunden zulässig. Zulässig ist außerdem die Aufrechnung mit bestrittenen aber entscheidungsreifen Gegenforderungen.<br>
    7. Eine Stornierung oder Verschiebung vereinbarter Produktionstermine muss schriftlich erfolgen. Bei Stornierung bis zwei Wochen vor Produktionsbeginn ist ein Ausfallhonorar in Höhe von 25% der vereinbarten Honorare zu zahlen, bei Stornierung binnen zwei Wochen bis zwei Tage vor Produktionsbeginn ist ein Ausfallhonorar in Höhe von 50% der vereinbarten Honorare zu zahlen, bei Stornierung oder Verschiebung binnen 48 Stunden vor Produktionsbeginn sind ein Ausfallhonorar in Höhe von 100% der vereinbarten Honorare sowie die gesamten Produktionskosten fällig. Bereits in Auftrag gegebene Leistungen, angefallene Arbeiten und Auslagen sind voll zu zahlen.<br>
    VII. Rückgabe des Bildmaterials<br>
    1. Analoges Bildmaterial ist in der gelieferten Form unverzüglich nach der Veröffentlichung oder der vereinbarten Nutzung, spätestens jedoch 3 Monate nach dem Lieferdatum, unaufgefordert zurückzusenden; beizufügen sind zwei Belegexemplare. Eine Verlängerung der 3-Monatsfrist bedarf der schriftlichen Genehmigung des Fotografen.<br>
    2. Digitale Daten sind nach Abschluss der Nutzung grundsätzlich zu löschen bzw. sind die Datenträger zu vernichten. Der Fotograf haftet nicht für den Bestand und/oder die Möglichkeit einer erneuten Lieferung der Daten.<br>
    3. Überlässt der Fotograf auf Anforderung des Kunden oder mit dessen Einverständnis Bildmaterial lediglich zum Zwecke der Prüfung, ob eine Nutzung oder Veröffentlichung in Betracht kommt, hat der Kunde analoges Bildmaterial spätestens innerhalb eines Monats nach Erhalt zurückzugeben, sofern auf dem Lieferschein keine andere Frist vermerkt ist. Digitale Daten sind zu löschen bzw. sind die Datenträger zu vernichten oder zurückzugeben. Eine Verlängerung dieser Frist ist nur wirksam, wenn sie vom Fotografen schriftlich bestätigt worden ist.<br>
    4. Die Rücksendung des Bildmaterials erfolgt durch den Kunden auf dessen Kosten in branchenüblicher Verpackung. Der Kunde trägt das Risiko des Verlusts oder der Beschädigung während des Transports bis zum Eingang beim Fotografen.<br>
    VIII. Vertragsstrafe, Schadensersatz<br>
    1. Bei jeglicher unberechtigten (ohne Zustimmung des Fotografen erfolgten) Nutzung, Verwendung, Wiedergabe oder Weitergabe des Bildmaterials ist für jeden Einzelfall eine Vertragsstrafe in Höhe des fünffachen Nutzungshonorars zu zahlen, vorbehaltlich weitergehender Schadensersatzansprüche.<br>
    2. Soweit ein Urhebervermerk bei Veröffentlichung vereinbart ist, ist bei unterlassenem, unvollständigem, falsch platziertem oder nicht zuordnungsfähigem Urhebervermerk ein Aufschlag in Höhe von 100% auf das vereinbarte bzw. übliche Nutzungshonorar zu zahlen.<br>
    IX. Allgemeines<br>
    1. Es gilt das Recht der Bundesrepublik Deutschland als vereinbart, und zwar auch bei Lieferungen ins Ausland.<br>
    2. Nebenabreden zum Vertrag oder zu diesen AGB bedürfen zu ihrer Wirksamkeit der Schriftform.<br>
    3. Die etwaige Nichtigkeit bzw. Unwirksamkeit einer oder mehrerer Bestimmungen dieser AGB berührt nicht die Wirksamkeit der übrigen Bestimmungen. Die Parteien ver-pflichten sich, die ungültige Bestimmung durch eine sinnentsprechende wirksame Bestimmung zu ersetzen, die der angestrebten Regelung wirtschaftlich und juristisch am nächsten kommt.<br>
    4. Erfüllungsort und Gerichtsstand ist Berlin.
  </div>
</div>
