// .my-cat-card {
//   box-shadow: 0 4px 14px 0 hsla(0, 0%, 0%, 0.2);
// }

.wrapper {
  display: block;
  margin: auto;
}
.shoot-cont {
  font-size: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: .1em .1em;
  grid-auto-flow: dense;
  justify-content: center;
  margin: 0 5px 0 5px;
}
@media (min-width: 500px) {
  .category-card-link:nth-of-type(3n) {
    grid-column: span 2; /* Spans two columns */
    grid-row: span 2; /* Spans two rows */
  }
}
.shoot-card {
  position: relative;
  padding-bottom: 125%;
  box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, 0.2);
  background-size: cover;
  display: grid;
  color: $lightest-grey;
  font-size: 1.6rem;
  font-family: $cards-font;
  &:hover {
    -webkit-text-stroke: 1px yellow;
  }
}

.shoot-name {
  display: flex;
  justify-content: center;
}
.name-text {
  position: absolute;
  top: 50%;
}
