.shootings {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 0.1em 0.1em;
  grid-auto-flow: dense;
  justify-content: center;
  margin: 0 5px 0 5px;
  font-size: 40px;
}

.shootings-header {
  position: relative;
  // left: calc(10vw * (-1));
  margin: 10px 6px;
  padding: 3px;
  display: inline-block;
  text-align: center;
  font-size: 1.6rem;
  font-family: $cards-font;
  color: #e7e7e7;
}
@media (min-width: 500px) {
  .category-card-link:nth-of-type(3n) {
    grid-column: span 2;
    grid-row: span 2;
  }
}
.shooting__image {
  position: relative;
  display: block;
  max-height: 100%;
  padding-bottom: 125%;
  font-size: 1.6rem;
  font-family: $cards-font;
  color: $lightest-grey;
  background-position: center;
  background-size: cover;
  box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, 0.2);
}

.shooting__name {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-weight: 400;
}

#prev,
#next {
  display: absolute;
}
#prev {
  left: -30px;
}
#next {
  right: -30px;
}
