.carousel-inner {
  display: flex;
  height: 77vh;
  align-items: center;
  padding-top: 0.5em;
}
@media (max-width: 1080px) {
  .carousel-inner {
    padding-top: 0;
  }
}

#carou-image {
  margin: auto;
  max-width: 100% !important;
}
@media (min-width: 600px) {
  #carou-image {
    max-height: 77vh;
  }
}
.carousel-control-next,
.carousel-control-prev {
  position: fixed;
  width: 50%;
  opacity: 1 !important;
}
.carousel-control-next {
  justify-content: flex-end;
}
.carousel-control-prev {
  justify-content: flex-start;
}

.fa-chevron-left:before,
.fa-chevron-right:before {
  opacity: 1;
  font-size: 2.2rem;
  color: $lighter-grey;
}
.hide {
  display: none;
}
.mobile-img-show {
  width: 100%;
  margin-bottom: 6px;
}
