.carousel-inner {
  padding-top: 1em;
}

#carouselExampleControls {
  margin: auto;
  padding: 1rem 4rem;
  z-index: 100;
  // transition: transform .5s, opacity .5s, z-index .5s;
  // max-height: 100%;
  // width: auto;
}

#carou-image {
  height: 77vh;
  margin: auto;
}

.carousel-control-next {
  justify-content: flex-end;
  width: 50%;
  opacity: 1 !important;
}
// carousel-control-prev has a left: 0 which i have to override with right:0, but this doesn't work
.carousel-control-prev {
  justify-content: flex-start;
  width: 50%;
  opacity: 1 !important;
}
.fa-chevron-left:before,
.fa-chevron-right:before {
    color: black;
    opacity: 1;
    font-size: 2.2rem;
  }
