.bg {
  display: flex;
}
.carou-item, .active {
    height: 70vh !important;
}
.carou-img {
  text-align: center;
  max-height: 100%;
  width: auto;
}

.count-folio {
  margin-top: 0 !important;
  a{
    color: $gray !important;
  }
}
#carouselExampleControls {
  margin: auto;
  font-size: 2rem;
}
#carou-image {
  height: 100%;
  display: inline !important;
}
