.cat-img {
  height: 100%;
}
#cat-card {
  margin: 0.5rem;
  padding:0;
  background-color: none !important;
  justify-content: center;
  align-items: center;
}
.cards-container {
  justify-content: space-around;
}
#category-name {
  position: absolute;
}
