.navbar-lewagon {
  padding: .8rem 0 0 .5rem;
  background: white;
  margin-top: -20px;
  align-items: flex-end;
}
// menu
.nav-link {
  display: inline;
}
.link-div {
  margin-right: .8rem;
}

.navbar-lewagon button {
  margin-right: 0;
  margin-bottom: .8rem;
}

.navbar-toggler {
  display: block;
  margin: 0 0 0 auto;
}

.hoverable {
  a {
  color: $gray;
  opacity: 0.8;
    &:hover {
      opacity: 1;
    }
  }
}

.navbar-link {
  margin-left: auto;
  font-size: 1.3rem;
}
.name{
  margin-bottom: auto;
}
#mikeauerbach-header {
  font-size: 2rem;
  padding-left: 0.5rem;
}
.oben {
  margin-bottom: -20px;
  letter-spacing: 0.1rem;
}
.unten {
  margin-top: -19px;
}
