/*
Positioning
Box model
Typographic
Visual
Misc
*/

// logo and nav-links
#my-nav {
  position: relative;
  display: flex;
}

.navbar {
  height: 100%;
  align-items: flex-end;
}

.hoverable {
  a {
  color: $medium-gray;
  }
}

// the actual nav links
.navbar-toggler {
  margin: 0 .5rem .6rem 0;
}
ul {
  display: flex;
  width: 100%;
  justify-content: center;
    li {
      padding: 0 1.2rem 0 1.2rem;
      margin-right: -1rem;
    }

}
#right {
  display: block;
  width: 100%;
  margin: 0 auto;
  text-align: right;
  font-size: 1.4rem;
}

.navbar-toggler {
  margin-left: auto;
}

// logo on the left of the navbar
.header-name {
  font-size: 2.5rem;
  padding-left: 0.5rem;
  color: $gray;
}

.oben {
  margin-bottom: -20px;
  letter-spacing: 0.1rem;
}
.unten {
  margin-top: -19px;
}
