/*
Positioning
Box model
Typographic
Visual
Misc
*/

// logo and nav-links
#my-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: -0.8em;
}

// logo on the left of the navbar
.my-header__logo {
  padding-left: 1.5rem;
  font-size: 2.8rem;
  color: $gray;
  white-space: nowrap
}

.logo__oben {
  position: absolute;
  top: 11px;
  margin-bottom: -20px;
  // letter-spacing: 0.1rem;
}
.logo__unten {
  margin-top: -19px;
  font-size: 0.9em;
}

// nav-menu on the right
.my-header__nav {
  display: flex;
  width: 100%;
}

@media (max-width: 800px) {
  .my-header__nav {
    display: block;
  }
  .my-nav__list {
    display: block;
    background: red;
  }
}

// menu toggle for smaller screens
.nav-toggle {
  position: absolute;
  height: 50px;
  right: 0;
  background: green;
}

.hamburger {

}

<<<<<<< HEAD
// navigation list

.my-nav {
  height: 100%;
  width: 100%;
  margin-top: -0.8em;
  margin-bottom: -0.7em;
=======
// logo on the left of the navbar
.header-name {
  padding-left: 1.5rem;
  font-size: 2.5rem;
  color: $black;
>>>>>>> 0d548165c39725425a1f7cbb3759b7b950bd392f
}

.my-nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-top: 2em;
  font-size: 1.45rem;
}

.my-nav__item {
  padding: 0 1.4em 0 1.4em;
  list-style: none;
}



li:hover {
  text-decoration: underline !important;
}



// .my-nav__link {
//     // margin: auto;
//       font-size: 1.2rem;
//       font-family: sans-serif;
//       z-index: 2;
//       position: relative;
//       opacity: 0.8;
//       color: black !important;
//       &::before {
//     content: "";
//       position: absolute;
//       bottom: 5px;
//       left: 0;
//       width: 100%;
//       height: 38%;
//       background-color: tomato;
//       z-index: -1;
//       opacity: 0.3;
//         // -webkit-transition: all .1s linear;
//       }
//     }

//     @media (max-width: 1100px) {
//       .nav-link::before {
//         content: "";
//         position: absolute;
//         background-color: transparent;
//       }
//     }
//         // the actual nav links
// .navbar-toggler {
//   margin: 0 .5rem .6rem 0;
// }



// .navbar-toggler {
//   margin-left: auto;
// }


// p {
//   margin-bottom: 0 !important;
// }
