* {
  margin: 0px;
  padding: 0px;
}
// Graphical variables
@import "config/fonts";
@import "config/colors_and_variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "pages/index";




#page-container {
  position: relative;
  min-height: 100vh;
  background-color: white;
}

.content {
  padding-top: 1em;
  border-top: solid $lighter-grey 1px;
}

#content-wrap {
  padding-bottom: 3.6rem;
  width: 80%;
  margin: 0 auto;
  min-height: 84vh;
}
@media (max-width: 576px) {
  #content-wrap {
    width: 100%;
  }
}

a {
  opacity: 1;
  &:hover {
    opacity: 0.7;
  }
}
