* {
  margin: 0px;
  padding: 0px;
}
// Graphical variables
@import "config/fonts";
@import "config/colors_and_variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "pages/index";
/*
Positioning
Box model
Typographic
Visual
Misc
*/
html {
  scroll-behavior: smooth;
}

img {
  display: block;
  max-height: 100%;
}

#page-container {
  position: relative;
  min-height: 100vh;
  margin-top: 0;
  background-color: $lightest-grey;
}

.content {
  padding-top: 1em;
  margin-top: 0 !important;
}

#content-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100vw - 12.5rem);
  min-height: 84vh;
  padding-bottom: 3.6rem;
  margin: 0 auto;
}
@media (max-width: 800px) {
  #content-wrap {
    width: 100%;
  }
}
@media (max-width: 598px) {
  #content-wrap {
    display: flex;
    // align-items: center;
  }
  .content {
    padding-top: 1em;
  }
}
