    <div class="cont">
      <% @categories.each do |category|%>
        <%= link_to category_path(category), class: "categories-images" do %>
          <div class="category-card hoverable-card" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.3)), url(<%=url_for(category.cover) %>)">
            <h2 class="category-name"> <%= category.name%></h2>
          </div>
        <% end %>
      <% end %>
    </div>
