<div class="container-fluid">
  <div class="row cards-container">
    <% @categories.each do |category|%>
      <div id = "cat-card" class="card col-xs-12 col-sm-4 col-md-4 col-lg-3 col-xl-2">
        <%= render 'shared/category-card', category: category %>
      </div>
    <% end %>
  </div>
</div>

