<%# <h1>Test, sample images taken from unsplash</h1> %>
<main class="">
    <div class="cont">
      <% @categories.each do |category|%>
          <div class="category-card">
        <%= link_to category_path(category), class: "" do %>
            <figure class="category-image">
              <%= cl_image_tag category.cover.key,:class => ""%>
            </figure>
            <figcaption class=""> <%= category.name %> </figcaption>
        <% end %>
          </div>
      <% end %>
    </div>
  </main>
<%# <main class="gallery">
    <ul class="gallery__list">
      <%# @categories.each do |category|%>
          <%# <li class="my-cat-card"> %>
        <%#= link_to category_path(category), class: "link-to-shooting-show" do %>
            <%# <figure class="my-cat-card-div"> %>
              <%#= cl_image_tag category.cover.key,:class => "my-cat-card-image"%>
            <%# </figure> %>
            <%# <figcaption class="my-cat-card-name"> = category.name </figcaption> %>
        <%# end %>
          <%# </li> %>
      <%# end %>
    <%# </ul> %>
  <%# </main> %> 
