<h1>Test, sample images taken from unsplash</h1>
    <div class="cont">
      <% @categories.each do |category|%>
        <%= link_to category_path(category), class: "category-card-link" do %>
          <div class="category-card hoverable-card" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.3)), url(<%=url_for(category.cover) %>)">
            <h1 class="category-name"> <%= category.name%></h1>
          </div>
        <% end %>
      <% end %>
    </div>


<%# <main class="gallery">
    <ul class="gallery__list">
      <%# @categories.each do |category|%>
          <%# <li class="my-cat-card"> %>
        <%#= link_to category_path(category), class: "link-to-shooting-show" do %>
            <%# <figure class="my-cat-card-div"> %>
              <%#= cl_image_tag category.cover.key,:class => "my-cat-card-image"%>
            <%# </figure> %>
            <%# <figcaption class="my-cat-card-name"> = category.name </figcaption> %>
        <%# end %>
          <%# </li> %>
      <%# end %>
    <%# </ul> %>
  <%# </main> %>
