
<%# <h1>Test, sample images taken from unsplash</h1> %>
<main class="gallery">
  <ul class="gallery__list">
    <% @shootings.each do |shoot|%>
      <li class="my-cat-card">
        <%= link_to shooting_path(shoot), class: "link-to-shooting-show" do %>
          <figure class="my-cat-card-div">
            <%= cl_image_tag shoot.cover.key,:class => "my-cat-card-image"%>
          </figure>
          <figcaption class="my-cat-card-name"> <%= shoot.who_or_what %> </figcaption>
        <% end %>
      </li>
    <% end %>
  </ul>
</main>
