
<div class="shootings">
  <% @shootings.each do |shoot|%>
    <%= link_to shooting_path(shoot), class: "shooting-card-link" do %>
      <div class="shoot-card hoverable-card" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.3)), url(<%=url_for(shoot.cover) %>); :hover {background-image: linear-gradient(rgba(0,255,0,0.2), rgba(0,255,0,0.3)), url(<%=url_for(shoot.cover) %>)};">
        <div class="shoot-name">
          <div class="name-text">
            <%= shoot.who_or_what.capitalize!%></div>
          </div>
      </div>
    <% end %>
  <% end %>
</div>
