<!DOCTYPE html>
<html>
  <head>
    <title>MikeAuerbachPhotography</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

  </head>
  <body>
    <%#= link_to categories_path do %>
      <div class="backgr container">
        <div class="row home-logo">
          <div class="center-div my-auto mx-auto col-xs-12 col-md-6 col-lg-4 col-xl-3">
            <h1 id='mikeauerbachhome'>PHOTO<br>GRAPHY<br>MIKE<br>AUERBACH</h1>
          </div>
        </div>
      </div>
    <%# end %>
  </body>
</html>

